<h3><%= t('semester_management') %> - <%= t('Edit_record') %></h3>

<% if can? :edit, Semester%>

	<%= render 'form' %>

<% else %>

	<%= t('permission_denied') %>

<% end # if can? :edit, Semester %>


