<h3><%= t('cscores_management')%> - <%= t('Edit_record')%></h3>

<% if can? :manage, :cscore %>

	<%= render 'form' %>

<% else %>
	
	<%= t('permission_denied') %>

<% end # if can? :manage, :cscore %>

