<h3><%= t('ustatus_management') %> - <%= t('Edit_record') %></h3>

<% if can? :manage, :ustatus %>
	<%= render 'form' %>
<% else %>
	<%= t('permission_denied') %>
<% end # if can? :manage, :ustatus %>

