<h3><%= t('enrollcourses_management')%> - <%= t('New_record')%></h3>

<% if can? :create, Enrollcourse %>

	<%= render 'form' %>

<% else %>

	<%= t('permission_denied') %>

<% end # if can? :create, Enrollcourse %>


