<h3><%= t('cschedules_management') %> - <%= t('New_record') %></h3>


<% if can? :manage, :cschedule %>

	<%= render 'form' %>

<% else %>

	<%= t('permission_denied') %>

<% end # if can? :manage, :cschedule %>

