<p id="notice"><%= notice %></p>

<!-- top summaries -->
<%= render "layouts/parts/infobox/admin" %>


<!-- my visa records history -->
<%= render "home/roles/columns/visas"%>

<!-- students analysis -->
<%= render "home/roles/columns/students_analysis"%>


