
<% if can? :list, :majors %>

	<li class="treeview">

<%= link_to majors_path do %>

	<i class="fa fa-newspaper-o"></i>

<span><%= t("major_management") %></span>

<% end %>

</li>

<% end # if can? :list, :majors %>

